@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


body {
	margin: 0px;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

#headContainer {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #1c6835;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 10;
    padding-bottom: 20px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

#userName {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;

    margin-top: 45px;
    display: inline-block;
    margin-left: 90px;
    position: relative;
    padding-bottom: 10px;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-top: 45px;
    display: inline-block;
    margin-left: 90px;
    position: relative;
    padding-bottom: 10px;

}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#content {
  width:100%;
  position: relative;
  margin: 1000px auto;
  margin-bottom: 0px;
  background: #f2f2f2;
}

#app_details, #ct_details {
    margin: auto;
    margin-top: 200px;
    width: 90%;
}

.app_name, .ct_name {
    height: 10%;
    font-size: 30px;
}

.app_view, .ct_view {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.ct_properties {
  margin-top: 5%;
  margin-left: 30%;
}

.ctInputData {
  margin-left: 10%;
}

.app_properties {
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 360px;
    padding-left: 40px;
    padding-top: 40px;
}

.app_icon {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 5%;
    margin-top: 40px;
    background-color: #cecece;
}

.appIconPic {
    width: 100%;
  }

.myButton {
    background-color: #1c6835;
    color: white;
    width: 180px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
.myButton:hover {
    background-color: #368851;
  }

  #messageContainer {
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 12%;
    text-align: center;
  }

  #messageButton {
    background-color: #1c6835;
    color: white;
    padding: 22px 40px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #messageButton:hover {
    background-color: #368851;
  }

  #formContainer {

    background-color: #f2f2f2;
    padding-left: 35%;
    margin-top: 8%;
    padding-top: 6%;
    padding-bottom: 5%;
  }

input[type=text],
select,
textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical
}


input[type=submit] {
    background-color: #1c6835;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 17%;
    margin-bottom: 30px;
}


input[type=submit]:hover {
    background-color: #368851;
}

.formCancelButton {
    background-color: #1c6835;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 17%;
    margin-bottom: 30px;
}

.formCancelButton:hover {
    background-color: #368851;
}


.cockpit_content {
    margin: auto;
    margin-top: 110px;
}

.sectionName {
    margin-top: 10%;
    margin-left: 240px;
}

.ct_list {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.ctListElem {
    background: #e9e9e9;
    border: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 25px;
}

.ctListElemName {
    margin-left: 40px;
    font-size: 20px;
}

.ctListButtons {
    float: right;
}

summary::-webkit-details-marker {
    display: none;
}

.ctActivateBtn, .ctPauseBtn, .ctAbortBtn, .ctDetailsBtn {
    margin-right: 20px;
    width: 100px;
    height: 50px;
    margin-top: -15px;
    cursor: pointer;
    color: white;
}

.ctActivateBtn {
    background-color: #1c6835;
}

.ctActivateBtn:hover {
    background: #368851;
}

.ctPauseBtn {
    background: #918817
}

.ctPauseBtn:hover {
    background: #a4a713
}

.ctAbortBtn {
    background: #a01919
}

.ctAbortBtn:hover {
    background: #df3c3c
}

.ctDetailsBtn {
    background: blueviolet;
}

.ctDetailsBtn:hover {
    background: darkviolet;
}

.details {
    float: bottom;
}

.innerScroll {
    background-color: #ffffff;
    width: 70%;
    height: 300px;
    overflow: auto;
    margin: auto;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 100px;
}

.ctListElemAppName, .ctListElemStatus {
    margin-left: 50px;
    font-size: 15px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  
  a:active {
    text-decoration: none;
    color: black;
  }
