<!DOCTYPE html>

<html lang="pl-PL">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"/>
<meta charset="UTF-8">
<title>App details</title>
</head>
<body>
	<header>
		<div id="headContainer">
			<h3 id="userName">Logged in as: user01</h3>
			<nav>
				<ul>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
<div id="container">
	<div id="app_details">
		<div class="app_name">
			<h2>{{appName}}</h2>
		</div>
		<div class="app_view">
			<div class="app_icon">
				<img src="{{appIcon}}" alt="image" class="appIconPic">
			</div>
			<div class="app_properties">
				App ID: {{appID}}
				<br /><br />
				Description: {{appDescription}}
				<br /><br />
				<a href="/launcher/app-user/{{appID}}/createComputationTask"><button type="button" class="myButton">Create CT</button></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>