<!DOCTYPE html>

<html lang="pl-PL">
<head>
<link rel="stylesheet" href="../static/main.css" type="text/css"/>
<meta charset="UTF-8">
<title>App details</title>
</head>
<body>
<div id="container">
		<header>
				<div id="headContainer">
					
				</div>
		</header>
	<div id="app_details">
		<div class="app_name">
			<h2>{{appName}}</h2>
		</div>
		<div class="app_view">
			<div class="app_icon">
				<img src="{{appIcon}}" alt="image" class="appIconPic">
			</div>
			<div class="app_properties">
				App ID: {{appID}}
				<br /><br />
				Description: {{appDescription}}
				<br /><br />
				<a href="/launcher/app-user/{{appID}}/createComputationTask"><button type="button" class="myButton">Create CT</button></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>